app:
  ambiente: qa

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/schoolmate_qa}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  flyway:
    enabled: true
    validate-on-migrate: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

logging:
  level:
    org.springframework.security: INFO
