spring:
  datasource:
    url: jdbc:postgresql://db.suoiyaaswcibsbrvpjxa.supabase.co:5432/postgres
    username: postgres
    password: 1Mj4WSc8KcsByjqL
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false

jwt:
  secret: schoolmate-dev-secret-key-que-debe-tener-al-menos-256-bits-para-hs256-algorithm-ok
  expiration: 86400000

logging:
  level:
    com.schoolmate: DEBUG
    org.springframework.security: DEBUG
